.project-page body {
  font-family: 'Noto Sans', sans-serif;
}

.project-page .footer {
  background-color: #dadada81;
}


.project-page .footer .icon-link {
  font-size: 25px;
  color: #000;
}

.project-page .link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.project-page .dnerf {
  font-variant: small-caps;
}


.project-page .teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.project-page .teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {}

.project-page .publication-banner {
  max-height: parent;

}

.project-page .publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {}

.project-page .publication-title {
  font-family: 'Google Sans', sans-serif;
}

.project-page .publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.project-page .publication-venue {
  color: #555;
  font-weight: bold;
  font-family: 'Google Sans', sans-serif;
}

.project-page .publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {}

.project-page .publication-authors a {
  /* color: hsl(204, 86%, 53%) !important; */
  color: #13294B !important;
  /* font-weight: bold; */
}

.project-page .publication-authors a:hover {
  text-decoration: underline;
}

.project-page .author-block {
  display: inline-block;
}

.publication-banner img {}

.project-page .publication-authors {
  /*color: #4286f4;*/
}

.project-page .publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.project-page .publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {}

.project-page .results-carousel {
  overflow: hidden;
}

.project-page .results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.project-page .results-carousel video {
  margin: 0;
}


.project-page .interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.project-page .interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {}

.project-page .interpolation-panel .slider {
  margin: 0 !important;
}

.project-page .interpolation-panel .slider {
  margin: 0 !important;
}

.project-page #interpolation-image-wrapper {
  width: 100%;
}

.project-page #interpolation-image-wrapper img {
  border-radius: 5px;
}

.project-page .model-name {
  font-variant: small-caps;
  font-weight: bolder;
}

.project-page li {
  list-style-type: none;
}

.project-page .horizontal-container {
  display: flex;
  align-items: top;
}

.project-page .horizontal-container p {
  flex: 1;
  margin-right: 16px;
}

.project-page .horizontal-container img {
  flex: 0 0 50%;
  max-width: 42%;
  height: auto;
}

.project-page .image-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.project-page .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Ensures a consistent 10px gap between images */
}

.project-page .image {
  height: 300px;
  width: 400px;
  display: block;
}

.project-page .caption {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.project-page .caption .highlight {
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
}

.project-page .caption .highlight.one {
  background-color: #5d0b6d50;
}

.project-page .caption .highlight.two {
  background-color: #a8f24a80;
}

.project-page .caption .highlight.three {
  background-color: #c5062950;
}

.project-page .caption .highlight.four {
  background-color: #930f0d50;
}

.project-page .caption .highlight.five {
  background-color: #84eef480;
}

.project-page .caption .highlight.six {
  background-color: #1804e050;
}

.project-page .caption .highlight.seven {
  background-color: #84eef480;
}

.project-page .caption .highlight.eight {
  background-color: #c5062950;
}

.project-page .caption .highlight.nine {
  background-color: #6e0d7050;
}

.project-page .caption .highlight.ten {
  background-color: #3603c950;
}

.project-page .caption .highlight.eleven {
  background-color: #f6fa4080;
}

.project-page .caption .highlight.twelve {
  background-color: #bc008250;
}

.project-page .caption .highlight.thirteen {
  background-color: #a8f24a80;
}

.project-page .qual-example {
  border: 2px solid #00000000;
  border-radius: 30px;
  padding: 20px;
  background-color: #dadada81;
  margin-bottom: 30px;
}

.project-page .qual-example:last-child {
  margin-bottom: 0px;
}

.project-page .illini-blue {
  color: #13294B;
}

.project-page .illini-orange {
  color: #F07B41;
}
