<div id="news-section">
  <ul id="news-list">
    <li><strong>July 2025</strong>: Purpcorn-PLAN is the Defending Team Winner of the <a href="https://www.amazon.science/nova-ai-challenge/pushing-the-boundaries-of-secure-ai-winners-of-the-amazon-nova-ai-challenge"> Amazon Nova AI Challenge</a>!</li>
    <li><strong>July 2025</strong>: Congratulations to <a href="members/muntasir-wahed.html">Muntasir</a> and <a href="members/afrina-tabassum.html">Afrina</a> for their EMNLP'25 Findings papers on multi-turn code jailbreaks and multimodal procedural planning.</li>
    <li><strong>July 2025</strong>: 🎓 Congratulations to <a href="members/afrina-tabassum.html">Afrina</a> and <a href="members/amarachi-blessing.html">Amarachi</a> for successfully defending their Ph.D. thesis!</li>
    <li><strong>July 2025</strong>: Congratulations to <a href="members/makanjuola-ogunleye.html">Makanjuola</a> for his TMLR'25 paper on emergent communication pretraining.</li>
    <li><strong>June 2025</strong>: Congratulations to <a href="members/kajal-patel.html">Kajal</a> for being recognized as <a href="https://www.ncsa.illinois.edu/spin-closes-out-a-year-of-accomplishments-and-recognizes-the-outstanding-work-of-the-programs-interns-and-mentors/">Outstanding 2024-2025 SPIN Intern</a>!</li>
    <li><strong>March 2025</strong>: Purpcorn-PLAN team is competing in the <a href="https://www.amazon.science/amazon-nova-ai-challenge-accelerating-the-field-of-generative-ai"> Amazon Nova AI Challenge</a>!</li>
    <li><strong>February 2025</strong>: Congratulations to <a href="members/kiet-nguyen.html">Kiet</a>, <a href="members/adheesh-juvekar.html">Adheesh</a>, <a href="members/tianjiao(joey)-yu.html">Joey</a>, and <a href="members/muntasir-wahed.html">Muntasir</a>, and for their CVPR'25 paper on part-focused semantic co-segmentation with VLMs.</li>
    <li><strong>February 2025</strong>: Our lab has received DARPA funding.</li>
    <li><strong>February 2025</strong>: Our lab has received DoE funding.</li>
    <li><strong>August 2024</strong>: PLAN Lab is moving to the University of Illinois at Urbana-Champaign.</li>
    <li><strong>December 2023</strong>: Congratulations to <a href="members/meghana-holla.html">Meghana</a> for her AAAI'24 paper on zero-shot language video localization.</li>
    <li><strong>December 2023</strong>: Congratulations to <a href="members/hulya-dogan.html">Hulya</a> and <a href="members/kiet-nguyen.html">Kiet</a> for their CSCW'24 paper on examining online U.S. political discourse related to refugees.</li>
    <li><strong>December 2023</strong>: Congratulations to <a href="members/afrina-tabassum.html">Afrina</a> for her ICASSP'24 paper on finetuning audio Transformers with unsupervised audio mixtures (internship work @ Microsoft Research).</li>
    <li><strong>December 2023</strong>: Congratulations to <a href="members/muntasir-wahed.html">Muntasir</a>, <a href="members/xiaona-zhou.html">Xiaona</a>, and <a href="members/tianjiao(joey)-yu.html">Joey</a> for their WACV'24 paper on fine-grained alignment for cross-modal recipe retrieval.</li>
    <li><strong>October 2023</strong>: Congratulations to <a href="members/ying-shen.html">Ying</a> for receiving an <a href="https://www.amazon.science/news-and-features/amazon-and-virginia-tech-announce-2023-2024-fellowship-faculty-research-award-recipients">Amazon-VT Fellowship</a>!</li>
    <li><strong>October 2023</strong>: PLAN Lab has received new <a href="https://www.amazon.science/news-and-features/amazon-and-virginia-tech-announce-2023-2024-fellowship-faculty-research-award-recipients">Amazon-VT</a> funding to continue work on Embodied AI.</li>
    <li><strong>September 2023</strong>: 🏆 Congratulations to the VT PLANBot team for advancing to the <a href="https://www.amazon.science/alexa-prize/taskbot-challenge/2022">AlexaPrize TaskBot Challenge 2 finals</a>! 🚀 Go Hokies!</li>
    <li><strong>August 2023</strong>: Our lab has received DARPA funding.</li>
    <li><strong>August 2023</strong>: Congratulations to <a href="members/muntasir-wahed.html">Muntasir</a> for receiving a VT Pratt Fellowship for the Fall 2023 semester and first-authoring a CIKM 2023 Applied Research accepted paper.</li>
    <li><strong>August 2023</strong>: Congratulations to <a href="members/amarachi-blessing.html">Amarachi</a> for her first-authored MICCAI 2023 work on ViTs for disease progression.</li>
    <li><strong>July 2023</strong>: Congratulations to the PLANBot team for advancing to the <a href="https://www.amazon.science/alexa-prize/taskbot-challenge/2022">AlexaPrize TaskBot Challenge 2 semifinals</a>!</li>
    <li><strong>June 2023</strong>: 🎓 Congratulations to <a href="members/ming-zhu.html">Ming</a> for successfully defending her Ph.D. thesis!</li>
    <li><strong>May 2023</strong>: 🎓 Congratulations to <a href="members/avi-seth.html">Avi</a>, <a href="members/gaurang-ajit.html">Gaurang</a>, <a href="members/hulya-dogan.html">Hulya</a>, and <a href="members/meghana-holla.html">Meghana</a> for graduating!</li>
    <li><strong>May 2023</strong>: Congratulations to <a href="members/vedant-shah.html">Vedant Shah</a> for receiving a David Heilman Award for Excellence in Undergraduate Research!</li>
    <li><strong>April 2023</strong>: Congratulations to <a href="members/meghana-holla.html">Meghana Holla</a> for being selected as the Master's Paul E. Torgersen Research Excellence Award winner!</li>
    <li><strong>April 2023</strong>: <a href="members/makanjuola-ogunleye.html">Makanjuola</a> is featured at <a href="https://vtx.vt.edu/articles/2023/03/makanjuola-ogunleye-among-eight-students-nationwide-awarded-cade.html">VT Daily News</a> as one of the eight recipients of the Cadence Black Students in Technology Scholarship!</li>
    <li><strong>April 2023</strong>: Thank you to the <a href="https://www.sec.vt.edu/">Virginia Tech Student Engineers' Council (SEC)</a> for the Big Contribution grant.</li>
    <li><strong>Feb. 2023</strong>: <a href="members/makanjuola-ogunleye.html">Makanjuola</a> is being featured in a <a href="https://community.cadence.com/cadence_blogs_8/b/corporate/posts/meet-the-2022-black-students-in-technology-scholarship-recipients">spotlight article</a> by Cadence with other recipients of the Cadence Black Students in Technology Scholarship. Congratulations to all recipients!</li>
    <li><strong>Feb. 2023</strong>: Congratulations to our PLANBot team (<a href="members/afrina-tabassum.html">Afrina</a>, <a href="members/muntasir-wahed.html">Muntasir</a>, <a href="members/makanjuola-ogunleye.html">Makanjuola</a>, <a href="members/amarachi-blessing.html">Amarachi</a>, and <a href="members/tianjiao(joey)-yu.html">Joey</a>) for being selected for the <a href="https://www.amazon.science/alexa-prize/taskbot-challenge/ten-university-teams-selected-for-alexa-prize-taskbot-challenge-2">AlexaPrize TaskBot Challenge 2</a>!</li>
    <li><strong>Feb. 2023</strong>: Congratulations to <a href="members/tianjiao(joey)-yu.html">Joey</a> for his paper acceptance at TheWebConf2023 conference.</li>
    <li><strong>Feb. 2023</strong>: Congratulations to <a href="members/amarachi-blessing.html">Amarachi</a> for her co-authored <a href="https://journals.plos.org/digitalhealth/article?id=10.1371/journal.pdig.0000205">PLOS Digital Health editorial</a> on ChatGPT and medical education.</li>
    <li><strong>Nov. 2022</strong>: Congratulations to <a href="members/makanjuola-ogunleye.html">Makanjuola</a> for receiving a 2022 Cadence Diversity in Technology Scholarship!</li>
    <li><strong>Nov. 2022</strong>: Congratulations to <a href="members/muntasir-wahed.html">Muntasir</a> for receiving a VT Pratt Fellowship for the Spring 2023 semester!</li>
    <li><strong>Oct. 2022</strong>: Congratulations to <a href="members/muntasir-wahed.html">Muntasir</a> and <a href="members/avi-seth.html">Avi</a> for their paper acceptance at the 2022 IEEE BigData conference.</li>
    <li><strong>Oct. 2022</strong>: Congratulations to <a href="members/hesam-soleimani.html">Hesam Soleimani</a> for his journal accepted at the Mechanical Systems and Signal Processing (MSSP).</li>
    <li><strong>Oct. 2022</strong>: Our lab has received an <a href="https://www.amazon.science/latest-news/amazon-and-virginia-tech-announce-inaugural-fellowship-and-faculty-research-award-recipients">Amazon-VT faculty research award</a> to work on Embodied AI research.</li>
    <li><strong>Sept. 2022</strong>: Congratulations to <a href="members/gaurang-ajit.html">Gaurang</a> and <a href="members/amarachi-blessing.html">Amarachi</a> for the MICCAI 2022 paper acceptance.</li>
    <li><strong>August 2022</strong>: Our lab has received DARPA funding.</li>
    <li><strong>July 2022</strong>: Our lab has received Commonwealth Cyber Initiative (CCI) funding.</li>
    <li><strong>February 2022</strong>: Our lab has received <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2208864&HistoricalAwards=false">NSF EAGER CMMI-AM</a> funding.</li>
  </ul>
  <button id="toggle-news">See More</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var newsList = document.getElementById("news-list");
    var newsItems = newsList.getElementsByTagName("li");
    var toggleButton = document.getElementById("toggle-news");
    var isCollapsed = true;

    // Show only the top 5 news items by default
    function updateNewsDisplay() {
      for (var i = 0; i < newsItems.length; i++) {
        if (i < 5) {
          newsItems[i].style.display = "list-item";
        } else {
          newsItems[i].style.display = isCollapsed ? "none" : "list-item";
        }
      }
      toggleButton.innerText = isCollapsed ? "See More" : "See Less";
    }

    // Toggle between collapsed and expanded states
    toggleButton.addEventListener("click", function() {
      isCollapsed = !isCollapsed;
      updateNewsDisplay();
    });

    // Initialize the news section
    updateNewsDisplay();
  });
</script>

<style>
  #news-section {
    padding: 10px;
  }

  #toggle-news {
    background-color: #f1f1f1;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
  }

  #toggle-news:hover {
    background-color: #ccc;
  }
</style>
