body {
  font-family: 'Noto Sans', sans-serif;
}

.footer {
  background-color: #dadada81;
}


.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.illini-orange {
  color: #FF5F05 !important;
}

.illini-blue {
  color:#163057 !important;
}

.vt-maroon {
  color: #630031 !important;
}
.amazon-blue{
  color: #146EB4;
}

.cincinnati-red {
  color: #C6011F;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {}

.publication-authors a {
  color: #13294b;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}

#interpolation-image-wrapper img {
  border-radius: 5px;
}

.model-name {
  font-variant: small-caps;
  font-weight: bolder;
}

li {
  list-style-type: none;
}

.horizontal-container {
  display: flex;
  align-items: top;
}

.horizontal-container p {
  flex: 1;
  margin-right: 16px;
}

.horizontal-container img {
  flex: 0 0 50%;
  max-width: 42%;
  height: auto;
}

.image-container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* Ensures a consistent 10px gap between images */
}

.image {
  height: 300px;
  width: 400px;
  display: block;
}

.caption {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}

.caption .highlight {
  padding: 2px 5px;
  border-radius: 3px;
  font-weight: bold;
}

.caption .highlight.one {
  background-color: #c5062950;
}

.caption .highlight.two {
  background-color: #a8f24a50;
}

.caption .highlight.three {
  background-color: #5d0b6d50;
}

.caption .highlight.four {
  background-color: #84eef450;
}

.caption .highlight.five {
  background-color: #a8f24a50;
}

.caption .highlight.six {
  background-color: #930f0d50;
}

.caption .highlight.seven {
  background-color: #cbfca750;
}

.caption .highlight.eight {
  background-color: #5d0b6d50;
}

.caption .highlight.nine {
  background-color: #bc008250;
}

.caption .highlight.ten {
  background-color: #930f0d50;
}

.caption .highlight.eleven {
  background-color: #3603c950;
}

.qual-example {
  border: 2px solid #00000000;
  border-radius: 30px;
  padding: 20px;
  background-color: #dadada81;
  margin-bottom: 30px;
}

.qual-example:last-child {
  margin-bottom: 0px;
}