<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
        <script>
            // Redirect logic for specific paths
            if (window.location.pathname === '/calico/' || window.location.pathname === '/calico') {
                window.location.href = '/projects/calico/';
            }
	    if (window.location.pathname === '/prima/' || window.location.pathname === '/prima') {
                window.location.href = '/projects/prima/';
            }
	    if (window.location.pathname === '/ece/' || window.location.pathname === '/ece') {
                window.location.href = '/projects/ece/';
            } 
            if (window.location.pathname === '/part2gs/' || window.location.pathname === '/part2gs') {
              window.location.href = '/projects/part2gs/';
            }
	    if (window.location.pathname === '/spatialreasoner/' || window.location.pathname === '/spatialreasoner') {
              window.location.href = '/projects/spatialreasoner/';
            }
	    if (window.location.pathname === '/mmplanner/' || window.location.pathname === '/mmplanner') {
                window.location.href = '/projects/mmplanner/';
            }
           if (window.location.pathname === '/HalluSegBench/' || window.location.pathname === '/HalluSegBench') {
                window.location.href = '/projects/HalluSegBench/';
            }
        </script>
      {% include content.html content=content %}
    </main>
    {% include footer.html %}
  </body>
</html>
